.settings__list {
  background: rgba(54, 57, 67, 0.9);
  box-shadow: rgba(50, 50, 50, 0.3) 0px 0px 5px 2px;
  border-radius: 20px;
  color: white;
  transform: translateZ(0);
  backface-visibility: hidden;

  margin: 0 8px;

  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
  padding: 45px 25px 0 20px;
  align-items: flex-start;
  justify-content: flex-start;
}

.mobile .settings__list {
  background: none;
}

.settings__button {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  appearance: none;
  background: none;
  border: none;
  font-size: 1rem;
}

.settings__buttonIcon {
  width: 24px;
  height: 24px;
  fill: white;
}
