/* Common components - loaded on all platforms */
@import url("/components/common/emptyScreen/emptyScreen.css");
@import url("/components/common/tokens/tokens.css");

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Fira Code VF";
  src: url("./FiraCode-VF.woff2") format("woff2-variations");
  font-weight: 300 700;
  font-style: normal;
}

body {
  font-family: "Fira Code VF", "Arial", monospace;
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

html.mobile {
  height: 100dvh;
}
