/* Common components - loaded on all platforms */
@import url("/components/common/common.css");

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Fira Code VF";
  src: url("./FiraCode-VF.woff2") format("woff2-variations");
  font-weight: 300 700;
  font-style: normal;
}

body {
  font-family: "Fira Code VF", "Arial", monospace;
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  height: calc(100dvh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
}

.main {
  flex-grow: 1;
  display: flex;
  border: 1px solid gold;
  overflow-y: auto;
}

.mobileOnly {
  display: none;
}

.mobile .mobileOnly {
  display: block;
}
